/* ===== CSS RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #333;
  
}

/* ===== REUSABLE ===== */
section {
  padding: 60px 20px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}
.header {
  background: #111;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.menu-toggle {
  font-size: 1.8rem;
  cursor: pointer;
  display: block;
  color: #fff;
}
 

.logo {
  font-size: 1.3rem;
}

.nav-links {
  display: none; /* hidden on mobile */
  list-style: none;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
/* Mobile menu active state */
.nav-links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background: #111;
  width: 200px;
  padding: 20px;
  gap: 15px;
  border-radius: 5px;
}



.hero {
  height: 75vh;
  background: linear-gradient(to right, #000, #333);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  margin: 10px 0;
}

.hero p {
  margin-bottom: 20px;
}

.btn {
  background: #ff6600;
  color: #fff;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
}

.about p {
  max-width: 600px;
  margin: auto;
  text-align: center;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.skill {
  background: #f4f4f4;
  padding: 15px 25px;
  border-radius: 5px;
  font-weight: bold;
}


.projects-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.project-card {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.project-card h3 {
  margin-bottom: 10px;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #ff6600;
}

.contact form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact input,
.contact textarea {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact button {
  background: #111;
  color: #fff;
  border: none;
  padding: 12px;
  cursor: pointer;
}
/* designing the footer layout */
.footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 15px;
}

/* desktop responsive design*/
@media (min-width: 768px) {

  .menu-toggle {
    display: none;
  }

  .nav-links {
    display: flex;
    gap: 20px;
    position: static;
    background: none;
    width: auto;
    padding: 0;
  }

  .projects-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@keyframes{
  
}